/*
	For fonts: https://uigradients.com/#Telegram
*/

/*
	For free hosting: x10hosting.com
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html,
body {
	margin: 0px;
	background-color: #1c92d2;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
	color: #f2fcfe;
	max-width: auto;
}

.navbar {
	background-color: #333;
	overflow: hidden;
	display : flex;
	justify-content: space-evenly;
}

.navbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	font-size: 16px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: #f2fcfe;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.bot-nav a:hover {
	background-color: #ddd;
	color: black;
}

.navbar a:active,
.dropdown:active .dropbtn,
.bot-nav a.active {
	background-color: #4CAF50;
	color: #f2fcfe;
}

section {
	padding: 25px;
	overflow: hidden;
}

h3 {
	text-decoration: underline;
	font-size: 27px;
}

h4 {
	text-decoration: underline;
}

button {
	display: block;
	margin: 0 auto;
}

img {
	padding: 10px 0 10px 0;
}

/* -----Table 1----- */
table {
	border-collapse: collapse;
	color: #f2fcfe;
}

th {
	border-bottom: 1px solid #f2fcfe;
}

td {
	padding: 10px;
}

.left {
	border-left-style: solid;
}

/* -----Form page----- */
label,
input {
	display: block;
	margin: 10px 0 10px 0;
}

/* Custom classes */
.interest {
	margin-top: 50px;
	width: 300px;
	text-align: center;
}

.sports,
#register {
	width: 500px;
	height: auto;
}

#basketball-players,
#basketball-positions {
	width: auto;
	max-height: 400px;
}

#register {
	float: right;
}

.p-form {
	padding-left: 10px;
	border: solid white;
	width: 70%;
	border-radius: 5px;
	font-size: 20px;
}

#balls {
	max-width: 80%;
	max-height: 30vh;
	margin: auto;
	padding-left: 10px;
}

.name {
	min-width: 130px;
	max-width: 170px;
}

#email {
	min-width: 190px;
	max-width: 250px;
}

footer {
	background-color: #333;
	width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 0.75em;
	clear: both;
	z-index: 2;
	bottom: 0;
}

/* -----For the BotNav----- */
.bot-nav {
	background-color: #333;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 5;
}

.bot-nav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

@media only screen and (min-width: 1200px) {
	body {
		font-size: 16px;
	}
}

/* -----Tablet----- */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.navbar,
	body {
		/* I'd want to change the font size for each specific element.  Not jsut for the entire body. */
		font-size: 13px;
	}
}
/* -----Mobile----- */
@media only screen and (max-width: 767px) {
	.navbar,
	body {
		font-size: 10px;
	}
}